.film-info
{
    &__well
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &__wrapper
    {
        font-size: 1.2em;

        white-space: nowrap;

        &:not(:last-of-type)
        {
            margin-right: 15px;
        }
    }

    &__badge
    {
        font-size: .8em;
    }
}

.well
{
    border-color: #ddd;
    background-color: #f1f1f1;
}

.film-comment-form__button
{
    float: right;
}
